{% extends 'basic.html' %}

{% block head %}
    
{% endblock head %}

{% block body %}
<div class="container">
    <main>
        <br>
        <h1>Get started with Your SGPA Data</h1>
        <p class="fs-5 col-md-8">SGPA is a number that a student gets for his performance in the semester exams. It is a grading system used by many educational institutions worldwide. It has slight modifications in various countries, depending on the respective educational systems. SGPA is obtained in a single semester.CGPA is referred to as a cumulative grade point average. It was introduced in the CCE or Continuous and Comprehensive Evaluation System for Class X. CGPA gives the average grade point of the student performance in all the subjects excluding the additional Subject. The subject wise performance of the students is recorded in forms of Grades.</p>
    
        <div class="mb-5">
          <a href="/home" class="btn btn-primary btn-lg px-4">Visit Home Page</a>
        </div>
    
        <hr>
    
        <div class="row g-5">
          <div class="col-md-6">
            <h2>How to Use ?</h2>
            <p>Select the Semester and Input your Registeration Number and SGPA the system will add it into the Database.</p>
          </div>
    
          <div class="col-md-6">
            <h2>Still Confused ?</h2>
            <p>Read more detailed instructions on CGPA/SGPA and it's calculation.</p>
            <ul class="icon-list">
              <li><a href="https://www.learncbse.in/cgpa-calculator/" target="_blank">Learn CBSE - CGPA Calculator</a></li>
              <li><a href="https://gdx.in/percentage-to-cgpa-converter" target="_blank">GDX Percentage to CGPA Calculator</a></li>
              <li><a href="https://www.youtube.com/watch?v=bmnvTnbgjY0" target="_blank">CGPA Full Form? What is CGPA? How to calculate?</a></li>
            </ul>
          </div>
        </div>
      </main>
      <footer class="pt-5 my-5 text-muted border-top">
        Credits : Amaan Khan · © 2021
      </footer>
    </div>

        <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</div>
{% endblock body %}