{% extends 'basic.html' %}

{% block head %}
<title>Home Page</title>
{% endblock head %}

{% block body %}
<br>
<header class="pb-3 mb-4 border-bottom">
<span class="fs-4 mx-2">Home Page</span>
</header>

<div class="container">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Welcome to SGPA Data Adder</h2>
        <p>Add your SGPA here for easy access. You can also Update, Reset, Delete your info here. Suggest it to your friends as well so that they can also take advantage of this facility. All you need to do is chose the semester and add the Registeration Number and your CGPA and submit it. </p>
        <a class="btn btn-outline-info" type="button" href="/">Goto SGPA List</button></a>
    </div>
</div>
{% endblock body %}
